* { width: 100%; height: 100%; padding: 0; margin: 0; font-family: 'Open Sans', Arial, sans-serif; }

#masterWrap { margin: 0 auto; display: absolute; height: 100vh; }

#masterWrap #TopNav { display: flex; font-weight: bold; background-color: #4A4E51; height: 55px; }

#masterWrap #TopNav #left { display: flex; font-weight: bold; background-color: #4A4E51; width: 100vw; height: 55px; margin-left: 15px; }

#masterWrap #TopNav #left h1 { width: 250px; height: 50px; color: #FFFFFF; display: flex; flex-direction: row; align-items: center; justify-content: center; margin-right: 15px; margin-top: 2px; }

#masterWrap #TopNav #left ul { display: flex; flex-direction: row; border-left: 2px solid white; height: 100%; }

#masterWrap #TopNav #left ul a { text-decoration: none; width: 100px; }

#masterWrap #TopNav #left ul li { list-style-type: none; height: 50px; width: 100px; display: flex; flex-direction: row; align-items: center; justify-content: center; color: #FFFFFF; text-shadow: 1px 1px black; height: 100%; transform: translateZ(0); box-shadow: 0 0 1px transparent; backface-visibility: hidden; overflow: hidden; transition-duration: 0.6s; transition-property: color, background-color; }

#masterWrap #TopNav #left ul li:hover, #masterWrap #TopNav #left ul li:focus, #masterWrap #TopNav #left ul li:active { background-color: #303030; color: white; }

#masterWrap #TopNav #right { width: 15vw; margin-right: 5%; }

#masterWrap #TopNav #right ul { display: flex; flex-direction: row; align-items: center; justify-content: space-around; height: 100%; }

#masterWrap #TopNav #right ul a { text-decoration: none; width: 50px; }

#masterWrap #TopNav #right ul li { list-style-type: none; height: 50px; width: 50px; display: flex; flex-direction: row; align-items: center; justify-content: center; color: #FFFFFF; text-shadow: 1px 1px black; height: 100%; transform: translateZ(0); box-shadow: 0 0 1px transparent; backface-visibility: hidden; overflow: hidden; transition-duration: 0.6s; transition-property: color, background-color; }

#masterWrap #TopNav #right ul li img { width: 30px; height: 30px; }

#masterWrap #TopNav #right ul li:hover, #masterWrap #TopNav #right ul li:focus, #masterWrap #TopNav #right ul li:active { background-color: #303030; color: white; }

#masterWrap #navBelow { display: flex; font-weight: bold; background-color: white; height: 35px; border-bottom: 1px #E2E2E2; }

#masterWrap #navBelow ul { display: flex; float: left; width: 40%; margin-left: 10px; }

#masterWrap #navBelow ul a { text-decoration: none; width: 130px; display: flex; flex-direction: row; align-items: center; justify-content: center; }

#masterWrap #navBelow ul li { list-style-type: none; font-size: 13px; height: 50px; width: 150px; display: flex; flex-direction: row; align-items: center; justify-content: center; color: grey; height: 100%; transform: translateZ(0); box-shadow: 0 0 1px transparent; backface-visibility: hidden; overflow: hidden; transition-duration: 0.6s; transition-property: color; }

#masterWrap #navBelow ul li:hover, #masterWrap #navBelow ul li:focus, #masterWrap #navBelow ul li:active { color: black; }

#masterWrap #wrapper { background-color: #F6F8F9; overflow: hidden; }

#masterWrap #wrapper #wrapper2 { background-color: white; padding: 15px; }
