* {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
}

$barcolors: #4A4E51;
$navselect: #303030;
$wrapper: #F6F8F9;
$border: #E2E2E2;


#masterWrap {
	margin:0 auto;
	display: absolute;
	height: 100vh;
  #TopNav {
    display: flex;
    font-weight: bold;
    background-color: $barcolors;
    height: 45px;
		position: fixed;
		border-bottom: 2px red;
    #left {
      display: flex;
      font-weight: bold;
      background-color: $barcolors;
      width: 100vw;
      height: 45px;
      margin-left: 15px;
      h1 {
        width: 250px;
        height: 38px;
        color: #FFFFFF;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        margin-top: 2px;
      }
      ul {
        display: flex;
        flex-direction: row;
        border-left: 2px solid white;
        height: 100%;
        a {
          text-decoration: none;
          width: 100px;
        }
        li {
          list-style-type: none;
          height: 50px;
          width: 100px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          color: #FFFFFF;
          text-shadow: 1px 1px black;
          height: 100%;
          transform: translateZ(0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          backface-visibility: hidden;
          overflow: hidden;
          transition-duration: 0.6s;
          transition-property: color, background-color;
          &:hover, &:focus, &:active {
            background-color: $navselect;
            color: white;
          }
        }
      }
    }
    #right {
      width: 15vw;
      margin-right: 5%;
      ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;;
        height: 100%;
        a {
          text-decoration: none;
          width: 50px;
        }
        li {
          img {
            width: 30px;
            height: 30px;
          }
          list-style-type: none;
          height: 50px;
          width: 50px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          color: #FFFFFF;
          text-shadow: 1px 1px black;
          height: 100%;
          transform: translateZ(0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          backface-visibility: hidden;
          overflow: hidden;
          transition-duration: 0.6s;
          transition-property: color, background-color;
          &:hover, &:focus, &:active {
            background-color: $navselect;
            color: white;
          }
        }
      }
    }
  }
  #navBelow {
    display: flex;
    font-weight: bold;
    background-color: white;
    height: 35px;
    border-bottom: 2px $border;
		padding-top: 45px;
    ul {
      display: flex;
      float: left;
      width: 40%;
      margin-left: 10px;
      a {
        text-decoration: none;
        width: 130px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
      li {
        list-style-type: none;
        font-size: 13px;
        height: 50px;
        width: 150px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: grey;
        height: 100%;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        backface-visibility: hidden;
        overflow: hidden;
        transition-duration: 0.6s;
        transition-property: color;
        &:hover, &:focus, &:active {
          color: black;
        }
      }
    }
  }
  #wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $wrapper;
		#box {
			background-color: white;
			border: 1px solid $border;
			width: 95vw;
			height: 95vh;
			display: flex;
			#shoutbox {
				background-color: $wrapper;
				width: 75vw;
				height: 350px;
				margin-top: 15px;
				border: 2px solid $barcolors;
				display: flex;
				flex-direction: row;
				margin-left: 15px;
				#chatters {
					float: right;
					height: 100%;
					width: 10vw;
					display: flex;
					align-items: center;
					flex-direction: column;
					border-left: 2px solid $barcolors;
					p {
						height: 25px;
						width: auto;
						padding-left: 5px;
						padding-right: 5px;
						display: flex;
						align-items: center;
						justify-content: center;
						font-weight: bold;
					}
				}
				#chatbox {
					height: 35px;
					display: flex;
					float: left;
					border-bottom: 2px solid $navselect;
					align-items: center;
					p {
						display: flex;
						padding-left: 5px;
						color: grey;
						text-align: center;
						align-items: center;
						text-shadow: 0.1px 0.1px lightgrey;
					}
					#buttonChat {
						float: right;
						background-color: $navselect;
						border: 1px solid $barcolors;
						color: white;
						display: flex;
						align-items: center;
						justify-content: center;
						width: 60px;
						height: 25px;
						margin-right: 15px;
						padding-right: 5px;
					}
				}
			}
			#userInfo {
				border: 2px solid $barcolors;
				float: right;
				width: 265px;
				height: 350px;
				margin-top: 15px;
				margin-left: 15px;
				display: flex;
				justify-content: center;
				h3 {
					width: auto;
					height: 23px;
					display: flex;
					align-items: center;
					margin-top: 15px;
				}
				#userAvatar {
					width: 0px;
					height: 0px;
				}
			}
		}
  }
}
