* {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
  font-family: 'Open Sans',Arial,sans-serif;
}

$barcolors: #4A4E51;
$navselect: #303030;
$wrapper: #F6F8F9;


#masterWrap {
	margin:0 auto;
	display: absolute;
	height: 100vh;
  #TopNav {
    display: flex;
    font-weight: bold;
    background-color: $barcolors;
    height: 55px;
    #left {
      display: flex;
      font-weight: bold;
      background-color: $barcolors;
      width: 100vw;
      height: 55px;
      margin-left: 15px;
      h1 {
        width: 250px;
        height: 50px;
        color: #FFFFFF;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        margin-top: 2px;
      }
      ul {
        display: flex;
        flex-direction: row;
        border-left: 2px solid white;
        height: 100%;
        a {
          text-decoration: none;
          width: 100px;
        }
        li {
          list-style-type: none;
          height: 50px;
          width: 100px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          color: #FFFFFF;
          text-shadow: 1px 1px black;
          height: 100%;
          transform: translateZ(0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          backface-visibility: hidden;
          overflow: hidden;
          transition-duration: 0.6s;
          transition-property: color, background-color;
          &:hover, &:focus, &:active {
            background-color: $navselect;
            color: white;
          }
        }
      }
    }
    #right {
      width: 15vw;
      margin-right: 5%;
      ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;;
        height: 100%;
        a {
          text-decoration: none;
          width: 50px;
        }
        li {
          img {
            width: 30px;
            height: 30px;
          }
          list-style-type: none;
          height: 50px;
          width: 50px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          color: #FFFFFF;
          text-shadow: 1px 1px black;
          height: 100%;
          transform: translateZ(0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          backface-visibility: hidden;
          overflow: hidden;
          transition-duration: 0.6s;
          transition-property: color, background-color;
          &:hover, &:focus, &:active {
            background-color: $navselect;
            color: white;
          }
        }
      }
    }
  }
  #navBelow {
    display: flex;
    font-weight: bold;
    background-color: white;
    height: 35px;
    ul {
      display: flex;
      float: left;
      width: 40%;
      margin-left: 10px;
      a {
        text-decoration: none;
        width: 130px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
      li {
        list-style-type: none;
        font-size: 13px;
        height: 50px;
        width: 150px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: grey;
        height: 100%;
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        backface-visibility: hidden;
        overflow: hidden;
        transition-duration: 0.6s;
        transition-property: color;
        &:hover, &:focus, &:active {
          color: black;
        }
      }
    }
  }
  #wrapper {
    background-color: $wrapper;
    overflow: hidden;
    #wrapper2 {
      background-color: white;
      padding: 15px;
    }
  }
}
